button{
        height: 50px;
        border: 0;
        width: 80%;
        background: $color-light-blue;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        border-radius: 500px;
        color: white;
        font-size: 1.2em;
        margin: 25px 0 0 0;
        outline: 0;
        transition: all 0.4s $bezier;
        cursor: pointer;
        box-shadow: 0px 0px 1px rgba(0,0,0,0.4);

        &:hover {
          background: $color-dark-blue;
          box-shadow: 0px 0px 20px rgba(0,0,0,0.6);
        }

        &:active {
          background: $color-light-blue;
          transform: scale(1.02);
        }

}
