{% block onboarding %}


  <div id="pagination" class="walkthrough-header">
    <a class="dot active"></a>
    <a class="dot"></a>
    <a class="dot"></a>
    <a class="dot"></a>
    <a class="dot"></a>

  </div>

  <div class="walkthrough-body">

  <h2>Rules</h2>
  <ul class="screens">
    <li class="screen active">
      <div class="media"></div>
      <h4>A game of accusations and red herrings.</h4>
      <h4>Avoid being correctly accused to stay in the game.</h4>
    </li>

    <li class="screen">
      <div class="media"></div>
      <h4>Each player submits the name of a famous or known person.</h4>
      <h4>The last to enter clicks play and reads out all of the names twice. then no peeking!</h4>
    </li>

    <li class="screen">
      <div class="media"></div>
      <h4>Guess who’s who! The player to their left makes the first accusation. </h4>
    </li>

    <li class="screen">
      <div class="media"></div>
      <h4>Get it right and that player is out, giving you another go.</h4>
      <h4>Get it wrong and the accused becomes the accuser.</h4>
    </li>

    <li class="screen">
      <div class="media"></div>
      <h4>The winner is the last player unaccused. </h4>
    </li>

  </ul>

  </div>


  <div class="walkthrough-footer">
    <button id="next" class="button next-screen"></button>
  </div>



{% endblock %}
