{% block play %}
<div class="logo">
    <img width="250px">
</div>

<form id="nameInput" autocomplete="off">
  <!-- <label>enter name</label><br> -->
  <input class="input" type="text" name="player-name" placeholder="enter name" id="name" value="" autocomplete="off" spellcheck="false" autocorrect="off" autofocus="autofocus"><br>
  <input class="enter-name" type="submit" value="Submit" id="submit"><br>
  <h5 id="NumberOfNames" class="name-count"></h5>
  <input class="submit-play" type="submit" value="PLAY!" id="playJaccuse">

</form>

<div class="result-container hide" id="resultContainer">

  <h5 class="hint">Read out all the names twice.</h5>
  <ul class="result" id="result">
  </ul>

  <button class="hide-names" id="hideNames">hide names</button>
  <input class="submit-play" type="submit" value="Play again" id="restart">
</div>


{% endblock %}
