.game{
  height: inherit;
  position: relative;
  transition: all 0.5s ease;
  display: none;
  opacity: 0;

  &.show{
    display: block;
    opacity: 1;
  }

form{
  padding-top: 20%;

  &.hide{
    display: none;
    opacity: 0;
  }
}

.input{
  width: 80%;
  height:50px;
  border: none;
  font-size: 1.4em;
  text-align: center;
  outline: none;
  border-radius: 50px;
  font-family: $font-sans-serif;
  font-weight: 700;
}

.enter-name{
  height: 50px;
  border: 0;
  width: 80%;
  background: $color-light-blue;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  border-radius: 50px;
  color: white;
  font-size: 1em;
  margin: 20px 0 0 0;
  outline: 0;
  transition: all 0.4s $bezier;
  cursor: pointer;
}

.name-count{
  height: 20px;
  padding-top: 15px;
  font-weight: bold;
  font-size: 0.5;
  letter-spacing: 0.1em;

}

.submit-play{
  height: 50px;
  border: 0;
  width: 80%;
  border: solid 4px white;
  background: blue;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  border-radius: 50px;
  color: white;
  font-size: 1.2em;
  margin: 60px 0 40px 0;
  outline: 0;
  transition: all 0.4s $bezier;
  cursor: pointer;

}

.hint{
  padding:20px 0;
}

.result-container{
  overflow: auto;
  height: inherit;
  width: inherit;
  margin: 20px 0;
  padding-bottom: 200px;
  -webkit-overflow-scrolling: touch;

  &.hide{
    display: none;
    opacity: 0;
  }

  &.show{
    display: block;
    opacity: 1;
  }

  .result{
    transition: all 0.5s;

    &.hide{

      opacity: 0;
    }

    &.show{

      opacity: 1;
    }
  }

  ul{
    margin-left: 40px;
    margin-right:10px;
    border-left: solid white 5px;


      }

      li{
      text-align: left;
      list-style: none;
      font-size: 2em;
      padding-left: 20px;
      padding-bottom: 20px;


    }

}


.rules{
  position: absolute;
  width: 100%;
  bottom: 10%;


  p{
    font-size: 0.8em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding: 1em;
    cursor: pointer;

    &:hover{
      opacity: 0.75;
    }
  }

}

}
