body {
  position: relative;
  // background-color: ;
  background: linear-gradient(-5deg, $color-pink 20%, pink 20%);



  @include bp-medium {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
}
